.inline-block {
    display:inline-block;
    vertical-align: top;
  }

.logo{
    width: 23%;
    padding: 1px;
    vertical-align: top;
}

.logoimage{
    height: 18vh;
}

.logotext{
    font-family: 'ClassyBrune';
    font-weight: normal;
    font-size: 24px;
    color: #40075B;
    vertical-align: center;
    padding-top: 50px;
}

nav {
    width: 75%;
    margin-left: auto;
    text-align: right;
    font-family: 'ClassyBrune';
    vertical-align: center;
    padding-top: 30px;
}

ul {
    width: auto;
    margin-left: auto;
    list-style: none;
}

.navlist{
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 18px;
}

.navHover:hover{
    color: #AC8887;
    border-bottom: 3px solid #AC8887;
}

img{
    width: 100%;
}
body{
    background-image: url("../images/background20percent.png");
    background-repeat: no-repeat;
}

.Subjects{
    position: fixed;
    margin-bottom: 10px;
    list-style: circle;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

.card{
    padding: 20px;
}