.inline-block {
    display:inline-block;
    vertical-align: top;
  }

.logo{
    width: 23%;
    padding: 1px;
    vertical-align: top;
}

.logoimage{
    height: 18vh;
}

.logotext{
    font-family: 'ClassyBrune';
    font-weight: normal;
    font-size: 24px;
    color: #40075B;
    vertical-align: center;
    padding-top: 50px;
}

nav {
    width: 75%;
    margin-left: auto;
    text-align: right;
    font-family: 'ClassyBrune';
    vertical-align: center;
    padding-top: 30px;
}

ul {
    width: auto;
    margin-left: auto;
    list-style: none;
}

.navlist{
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 18px;
}

.navHover:hover{
    color: #AC8887;
    border-bottom: 3px solid #AC8887;
}

img{
    width: 100%;
}

body{
    background-image: url("../images/backgroundspoons@2x.png");
    background-repeat: no-repeat;
}

.welcome{
    /* border: 7px solid gray; */
    grid-area: toprow;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 50px 200px;
}



h1{
    font-size: 50;
    color: cadetblue;
    align-items: center;
    align-content: center;
}

p{
    font-size: 20;
    align-items: center;
    align-content: center;
}

.card{
    padding: 20px;
    margin: 40px;
    border-radius: 4px;
    border: none
}

.btn-primary{
    background-color:lightgray;
}

